.comboBoxes {
    -fx-font-family: 'Afacad Semibold';
    -fx-font-size: 15px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
  -fx-background-color: transparent;
}

.scroll-pane .thumb {
  -fx-background-color: #4c9292;
  -fx-background-radius: 0px;
}

.scroll-pane .thumb:hover {
  -fx-background-color: #297373;
}